<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" align="center" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Depression Prevention</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the probability of Depression
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/predict' method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="gender"><b>Gender</b></label>
          
          <select id="gender" name="Gender" class="validate">
            <option value=1>Male</option>
            <option value=0>Female</option>
          </select>
        </div>
        <div class="input-field col s4">

          <label for="age"><b>Age </b></label>
          <input id="age"  name="Age" type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>Marital Status</b></label>
          <select id="_name" name="marital_status" class="validate">
            <option value=0>Unmarried</option>
            <option value=1>Married</option>
            <option value=2>Widowed</option>
            <option value=3>Divorced</option>

          </select>
        </div>
        <div class="input-field col s4">
          <label for="_name2"><b>No of People in House</b></label>
        <input id="_name2" name="household_size" type="text" class="validate">

      </div>
      <div class="input-field col s4">
        <label for="_name3"><b>Income in Lakhs</b></label>
      <input id="_name3" name="household_income" type="text" class="validate">

    </div>
    <div class="input-field col s4">
      <label for="_name4"><b>Full Time Job</b></label>
    <select id="_name4" name="full_time_work" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
  <div class="input-field col s4">
    <label for="_name5"><b>Work type</b></label>
  <select id="_name5" name="work_type" class="validate">
    <option value=0>Unemployed</option>
    <option value=1>Government</option>
    <option value=2>Private</option>
    <option value=3>Family Business</option>
    <option value=4>Self Employed</option>
  </select>
  </div>
  <div class="input-field col s4">
    <label for="_name6"><b>Irregular Pulse</b></label>
    <select id="_name6" name="irregular_pulse" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>
  </div>
  <div class="input-field col s4">
    <label for="_name7"><b>Trouble Sleep</b></label>
  <select id="_name7" name="trouble_sleep_history" class="validate">
    <option value=1>Yes</option>
    <option value=0>No</option>
  </select>
  </div>
  <div class="input-field col s4">
    <label for="_name8"><b>Sleep Hours</b></label>
  <input id="_name8" name="sleep_hours" type="text" class="validate">

   </div>
   <div class="input-field col s4">
    <label for="_name9"><b>Vigorous Work</b></label>
  <select id="_name9" name="vigorous_work" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
  <div class="input-field col s4">
    <label for="_name10"><b>Continuous Fight With Close ones ?</b></label>
    <select id="_name10" name="fight" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
  <div class="input-field col s4">
    <label for="_name11"><b>Continuous Unhappy?</b></label>
    <select id="_name11" name="unhappy" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
      </div>

    </form>
      </div>

      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>

    </div>
  </div>




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

