<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Stress Predictor</title>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <style>
    *{transition:all 0.3s ease-in-out;}



nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}

ul li:hover{
  color:blue;
  
  
}
a:link {
  color:black; 
  background-color: transparent; 
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
  </style>
  <link rel="icon" href="https://i.ibb.co/1r35fsX/Sapto-favicon.png" type="image/x-icon">
<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
  <div class="content">
    <div class="logo">
      <img src="/static/Sapto.png" alt="" width="230"/>
      </div>
    <nav>
      <ul>
      <li><a href="https://depres.herokuapp.com"><b>Home</b></a></li>
      <li><a href="https://sapto-fitness-tracker.herokuapp.com"> <b>Diet Plan</b></a></li>
      <li><a href="https://diseasetest.herokuapp.com"><b>Disease</b></a></li>
      <li><a href="https://diabetss.herokuapp.com"><b>Diabetes</b></a></li>
      </ul>
      </nav>
    </div>
    <hr />

  <div class="section no-pad-bot" align="center" id="index-banner">

    <div class="container">
      <br><br>
      <h1 class='container-heading'><span class="heading_font">Mental Health</span></h1>
      <div class='description'>
  
      </div>
    </div>


    <div> <p>Hello User,Mental health refers to cognitive, behavioral, and emotional well-being. It is all about how people think, feel, and behave. People sometimes use the term “mental health” to mean the absence of a mental disorder. Mental health can affect daily living, relationships, and physical health.We are here to assist you with your mental health.Please take this test to check your stress level.</p></div>
              <div class="ml-container">
    <form action='/predict' method="POST" class="col s12">
      <div class="row">
        <img style="width:16%; justify-content: right;padding-top:90px;padding-right:40px;" class="dep" src="{{ url_for('static', filename='dep1.png') }}" alt="Unable to process image">
        
        <div class="form-input">
            <label for="gender"><b>Gender</b></label>
          
          <select id="gender" name="Gender" class="validate">
            <option value=1>Male</option>
            <option value=0>Female</option>
          </select>
        </div>
        <div class="form-input">

          <label for="age"><b>Age </b></label>
          <input id="age"  name="Age" type="text" class="validate">

        </div>

        <div class="form-input">
            <label for="_name"><b>Marital Status</b></label>
          <select id="_name" name="marital_status" class="validate">
            <option value=0>Unmarried</option>
            <option value=1>Married</option>
            <option value=2>Widowed</option>
            <option value=3>Divorced</option>

          </select>
        </div>
        <div class="form-input">
          <label for="_name2"><b>No of family members</b></label>
        <input id="_name2" name="household_size" type="text" class="validate">

      </div>
      <div class="form-input">
        <label for="_name3"><b>Income in Lakhs</b></label>
      <input id="_name3" name="household_income" type="text" class="validate">

    </div>
    <div class="form-input">
      <label for="_name4"><b>Full Time Job</b></label>
    <select id="_name4" name="full_time_work" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
  <div class="form-input">
    <label for="_name5"><b>Work type</b></label>
  <select id="_name5" name="work_type" class="validate">
    <option value=0>Unemployed</option>
    <option value=1>Government</option>
    <option value=2>Private</option>
    <option value=3>Family Business</option>
    <option value=4>Self Employed</option>
  </select>
  </div>
  <div class="form-input">
    <label for="_name6"><b>Irregular Pulse</b></label>
    <select id="_name6" name="irregular_pulse" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>
  </div>
  <div class="form-input">
    <label for="_name7"><b>Trouble Sleep</b></label>
  <select id="_name7" name="trouble_sleep_history" class="validate">
    <option value=1>Yes</option>
    <option value=0>No</option>
  </select>
  </div>
  <div class="form-input">
    <label for="_name8"><b>Sleep Hours</b></label>
  <input id="_name8" name="sleep_hours" type="text" class="validate">

   </div>
   <div class="form-input">
    <label for="_name9"><b>Vigorous Work</b></label>
  <select id="_name9" name="vigorous_work" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
      
    </select>
   
  </div>
  <div class="form-input">
    <label for="_name10"><b>Continuous Fight With Close ones ?</b></label>
    <select id="_name10" name="fight" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>

  </div>
  <div class="form-input">
    <label for="_name11"><b>Continuous Unhappy?</b></label>
    <select id="_name11" name="unhappy" class="validate">
      <option value=1>Yes</option>
      <option value=0>No</option>
    </select>
  </div>
  
      </div>
    
      <div class="row center">

          <button type="submit" class="my-cta-button">Predict Probability</button>
      </div>

    </form>
      </div>

      
<div class="results">
      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>
</div>
<div><p><b>Warning:</b> This Mental test is based on the dataset which is publicly available and it is for information only.For any medical assistance please contact medical professional near you.</p></div>
    </div>
  </div>

  </body>
</html>